
/* =============== MAIN =============== */

/* ----- Couvre chef ----- */

.imgCouvreChef{
  
  /* Position */
  position:absolute;
  left:1%;
  top:50%;
  transform: translateY(-50%);

  /* Taille */
  width:200px;
  height:auto;

  /* Autre */
  cursor: pointer;
  transition: transform 0.5s ease;
}

.img-reduite {
  transform: translateY(-50%) scale(0.8) !important;
}

/* ----- Compteur Cook ----- */

.compteur, .compteurSec{
  color:black;
  font-weight:bold;
  text-align: center;
}
.compteur{
  position:absolute;
  left:7%;
  top:28%;
  transform: translateY(-50%);
}
.compteurSec{
  position:absolute;
  left:5%;
  top:31%;
  transform: translateY(-50%);
}















